.photoloader__container {
    height: 128px;
    width: 128px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
    gap: 21px;
    background: #FAFAFA;
    border: 1px dashed #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;    
}


.photoloader__photouploaded {
    width: 128px;
    height: 128px;
    border-radius: 2px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: content-box;
    object-fit: cover;
    margin-bottom: 38px;
    position: relative;
    display: flex;
    flex-wrap: wrap;;
}