@import url("https://fonts.googleapis.com/css?family=Raleway");
.container1 {
  position: relative;
  background-color: #f4f5f7;
  width: 285px;
  height: 446px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 30px 0px 0px;
}

.productCard_container-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3a3a3a73;
}

.productCard_topRight__container {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 213px;
  top: 24px;
}

.topRight__text {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 213px;
  top: 36px;
  bottom: 241px;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.vector__share {
  position: absolute;
  left: 58px;
  right: 209px;
  top: 249px;
  bottom: 117px;
}

.vector__share__text {
  position: absolute;
  left: 87px;
  right: 154px;
  top: 249px;
  bottom: 117px;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.vector__like {
  position: absolute;
  left: 180.62px;
  right: 83.62px;
  top: 250.21px;
  bottom: 177.95px;
}

.vector__like__text {
  position: absolute;
  left: 211px;
  right: 42px;
  top: 250.21px;
  bottom: 177.95px;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.productCard_container {
  margin: 0px 30px 0px 0px;
  width: 300px;
  height: 170px;
}

/*PRODUCT IMAGE*/

.productCard_image__container {
  height: 285px;
  width: 285px;
  background-size: cover;
  background-position: center;
}

/*TEXT*/

.productCard_info_container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 285px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20 px;
  line-height: 30px;
}

.icons-container__section-icon {
  margin-right: 5px;
}

.prices {
  display: flex;
}

.productCard_title {
  font-style: normal;
  font-size: 24px;
  color: #3a3a3a;
  margin-top: 16px;
  font-family: Raleway;
  font-weight: 500;
}

.productCard_description {
  font-style: normal;
  font-size: 16px;
  color: #898989;
  font-family: Raleway;
  font-weight: 300;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productCard_price {
  font-style: Bold;
  font-size: 20px;
  color: #3a3a3a;
  font-family: Raleway;
  font-weight: 500;
}

.productCard_lastPrice {
  font-style: normal;
  font-size: 16px;
  color: #b0b0b0;
}