@import url('https://fonts.googleapis.com/css?family=Raleway');

.productCard__container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    left: 80px;
    top: 200px;
    position: relative;
    bottom: 40%;
    
}
.productCard_image {
    width: 100%;
    margin: auto;
    top: 30px;
}
    
.productCard_info_container {
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20 px;
    line-height: 30px;
    background-color: #F4F5F7;
}

.productCard_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #3A3A3A;
    margin-top: 16px;
}

.productCard_description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
}

.productCard_price {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3A3A3A;
}

span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    margin-bottom: 8px;
}

