
.product__board {
    margin-top: 70%;
}

.buscador__container {

    position: absolute;
    width: 505.14px;
    height: 45px;
    left: 619.11px;
    top: 40px;

    /* Color / White */
    background: #FFFFFF;
}
