.showMore {
  display: flex;
  justify-content: center;
  font-family: Raleway;
  margin-top: 50px;
}

.showMore-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 10px;

  border: 1px solid #e89f71;
  background-color: white;
  width: 245px;
  height: 48px;
}

.showMore-button h1 {
  margin: auto;
  color: #e89f71;
  padding: 0;
}

