.postit__container{
    position: absolute;
    width: 494px;
    height: 553px;
    left: 92px;
    top: 141px;

    background: rgba(179, 20, 20, 0.72);
    backdrop-filter: blur(31px);
}
.postitTitle__container{
    position: absolute;
    width: 374px;
    height: 201px;
    left: 152px;
    top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 120%;

/* or 67px */

/* Color / Gray 1 */
    color: #0f0d0d;
    height: 201px;
    width: 374px;
    left: 100px;
    top: 101px;
    border-radius: nullpx;
}
.postit__title{
    

    font-family: Raleway;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    
}
.postitDescription__container {
    position: absolute;
    width: 357px;
    height: 90px;
    left: 152px;
    top: 218px;



/* or 30px */

/* Color / Gray 3 */
    color: #0a0808;
    height: 90px;
    width: 357px;
    left: 100px;
    top: 330px;
    border-radius: nullpx;
}
.postit__description {
   

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.ButtonContainer {
   
    border-radius: 0px;
    position: absolute;
    width: 375px;
    height: 78px;
    left: -35px;
    top: 100px;

    /* Color / Primary */
    background: #E89F71;


}
.MyButton{
    

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    

    /* identical to box height, or 30px */

    /* Color / White */
    color: #e7d1d1;

}