.postit__container{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 30px;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    left: 92px;
    top:141px;
}

.postit__title h1 { 

    justify-content: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #3A3A3A;
    margin: -4.5px;
    width: 300px;
    height: 150px;
}
.postit__description {
    margin-top: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
}
.MyButton {
    
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    background: #E89F71;
    margin-top: 30px;
    
}
.realButton {
   
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #FFFFFF;
    
}