.postit__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 120px;
  padding: 30px;
  padding-top: 50px;
  margin-top: 50px;
  width: 450px;
  height: auto;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(50px);
  top: 70px;
}

.postit__title > h1 {
  justify-content: left;
  font-family: Raleway;
  font-style: normal;
  line-height: 60px;
  font-weight: 700;
  font-size: 50px;
  color: #3a3a3a;
  height: 140px;
  margin-bottom: 30px;
  
}

.postit__description {
  margin-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #686868;
}

.MyButton {
  z-index: 100;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  height: 80px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  margin-top: 30px;
  background: #e89f71;
  border: none;
  cursor: pointer;
}

.realButton {
  font-size: 18px;
  color: #ffffff;
}
