.navBar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1227px;
    height: 100px;;
    left: 213px;
    background-color: #F9F1E7;
    z-index: 1;
    top: 0;
    height: 100px;
    width: 1227px;
    left: 213px;
    border-radius: 0px;

  }
  .navBar2__searchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 658px;
    top: 26px;

  }
  
  .navBar2__searchBox input {
    border: none;
  }
  
  .searchBox_ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: white;
  }
  
  .searchBox_ellipse img {
    height: 15px;
  }
  
  .searchBox__input {
    width: 450px;
    height: 30px;
  }
  
  .navBar2__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px;
  }
  
  .right__heartIcon {
    display: flex;
  }
  
  .right__userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .navBar__dropDown {
      margin-left: 15px;
    }
  }
  