.icon__container{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1174px;
    height: 85px;
    left: 133px;
    top: 810px;
}
.iconTitle__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1174px;
    height: 85px;
    left: 133px;
    top: 810px;
}
.icon__icon{

    width: 35.18px;
    height: 40px;
    left: 2.41px;
    position: absolute;
    left: 5.02%;
    right: 6.02%;
    top: 25%;
    bottom: 0%;
}

.icon__title{
    
    position: absolute;
    width: 178px;
    height: 27px;
    left: 110px;
    top: 16px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Color / Gray 1 */

    color: #3A3A3A;
    
}

.icon__description {
   

    position: absolute;
    width: 173px;
    height: 24px;
    left: 110px;
    top: 45px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Color / Gray 3 */

color: #898989;

}