.icon__title__container{
    
    position: relative;
    width: 1174px;
    height: 85px;
    left: 80px;
    top: 610px;
}


.icon__icon1{

    position: absolute;
    left: 5.5%;   
    top: 25%;

}

.icon__icon2{

    position: absolute;
    left: 35.5%;   
    top: 25%;

}

.icon__icon3{

    position: absolute;
    left: 65.5%;   
    top: 25%;

}

.icon__icon4{

    position: absolute;
    left: 95.5%;   
    top: 25%;

}

.icon__td{

    width: 350px;
    height: 85px;
}

.icon__td2{

    width: 350px;
    height: 85px;
    left: 345px;
}

.icon__td3{

    width: 350px;
    height: 85px;
    left: 345px;
}

.icon__td4{

    width: 350px;
    height: 85px;
    left: 345px;
}

.icon__title1{
    
    position: absolute; 
    left: 110px;
    top: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3A3A3A;
    
}

.icon__title2{
    
    position: absolute; 
    left: 465px;
    top: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3A3A3A;
    
}

.icon__title3{
    
    position: absolute; 
    left: 825px;
    top: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3A3A3A;
    
}

.icon__title4{
    
    position: absolute;
    width: 500px;
    left: 1170px;
    top: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3A3A3A;
    
}

.icon__description1 {
   

    position: absolute;
    left: 110px;
    top: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;

}

.icon__description2 {
   

    position: absolute;
    left: 465px;
    top: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;

}

.icon__description3 {
   

    position: absolute;
    left: 825px;
    top: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;

}

.icon__description4 {
   

    position: absolute;
    left: 1170px;
    top: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;

}