
    

 .carousel__images {
    border: 3px solid green;
    display: flex;

 }


.carousel img {
  width: 100%;
  padding-top: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border: 2px solid blue;
  background-color: #FCF8F3;
}










 .pequeño_contenedor {
  position: absolute;
  width: 294px;
  height: 148px;
  left: 999px;
  top: 576px;
  
  background: rgb(209, 204, 204);
  backdrop-filter: blur(31px);
  
  
 }
 .kangoo{
  position: absolute;
  width: 103px;
  height: 34px;
  left: 0px;
  top: 20px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #0e0d0d;
 }
 .añocoche {
  
  width: 105px;
  height: 90px;
  left: 3%;
  top: 60px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
 }
 
.flecha {
  position: absolute;
  width: 30px;
  height: 20px;
  left: 250px;
  top: 120px;

  background: rgba(247, 240, 240, 0);
  backdrop-filter: blur(31px);
}
.caracteristicas{
  position: absolute;
  width: 105px;
  height: 24px;
  left: 0px;
  top: 60px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}
.ellipse4 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40px;
  top: -430px;
  border-radius:25px;
  background: #E89F71;
  opacity: 0.3;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.ellipse5 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 100px;
  top: -430px;
  border-radius: 25px;
  background: #E89F71;
}
.line1{
  position: absolute;
  width: 28px;
  height: 28px;
  left: 110px;
  top: -420px;
}
.line2{
  position: absolute;
  width: 28px;
  height: 28px;
  left: 50px;
  top: -420px;
}
