.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: ;
  width: 100%;
  height: 50px;
  padding: 25px;
  background-color: #fcf8f3;
  z-index: 1;
  top: 0;
}

.navBar__left {
  display: flex;
  flex-direction: flex-start;
  margin-left: 30px;
}

.logo {
  width: 90.78px;
  height: 37px;
  margin-bottom: 5px;
}

.navBar__dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.dropDown__title {
  margin: 0;
  padding: 0;
}

.dropDown__arrow {
  margin-top: 5px;
  margin-left: 10px;
}

.navBar__searchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBar__searchBox input {
  border: none;
}

.searchBox_ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
}

.searchBox_ellipse img {
  height: 15px;
}

.searchBox__input {
  width: 450px;
  height: 30px;
}

.navBar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 35px;
}

.right__heartIcon {
  display: flex;
}

.right__userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .navBar__dropDown {
    margin-left: 15px;
  }
}
