.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 25px;
  background-color: #fcf8f3;
  z-index: 1;
  top: 0;
}

.navBar__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  width: 250px;
}

.logo {
  width: 90.78px;
  height: 37px;
  margin-bottom: 5px;
}

.navBar__dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDown__title {
  margin-top: 2.5px;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
}

.dropDown__arrow {
  margin-top: 5px;
  margin-left: 10px;
}

.navBar__searchBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 30%;
  padding-left: 10px;
  margin-left: 20%;
}

.navBar__searchBox input {
  border: none;
  height: 45px;
}

.searchBox_ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
}

.searchBox_ellipse img {
  height: 15px;
}

.searchBox__input {
  width: 450px;
  height: 45px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.navBar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 35px;
}

.right__heartIcon {
  display: flex;
}

.right__userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .navBar__dropDown {
    margin-left: 15px;
  }
}

.navbar_text_link {
  color: #E89F71;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 50px;
}

.navbar_text_link:hover {
  color: #cc865a
}