.sideBar__container {
  width: 213px;
  height: 1386px;
  border: 1px solid;
  background-color: #fcf8f3;
  display: flex;
  flex-direction: column;
}
.logo_Reuz {
  width: 50%;
  margin-left: 40px;
  margin-bottom: 90px;
  margin-top: 34px;
}

.sections__container {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #3a3a3a;
  margin-left: 30px;
  margin-bottom: 34px;
}

.logOutButton {
  margin-left: 39px;
  width: 136px;
  background: #ffffff;
  border: 1px solid #e89f71;
  box-sizing: border-box;
  display: flex;
  flex-dire: column-reverse;
}
