.footer-container {
  display: flex;
  justify-content: space-around;
  height: 72px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f9f1e6;
}

.footer-container__copyright {
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-size: 16px;
  color: #898989;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

/*
.MyButton1 {
    width: 245px;
    height: 48px;
    position: relative;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    background: #E89F71;
    margin-top: -100%;
    top:-100px;
    left: 40%;
    
}
.realButton1 {
   
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #160c0c;
    position: relative;
    top: -15px;
    
}

*/
