.dropDowns-container {
    display: flex;
    background-color: #fcf8f3;
    padding: 30px;
}

.dropdown select {
    border: none;
    height: 40px;
    width: 185px;
    padding: 10px;
    margin-left: 25px;
    color: #616161;
    background-color: white;
}

select option {
    border: none;
}

select {
    max-height: 50px;
    border: 1px solid
}
/*RANGE SLIDER*/
