.slider__container {
  height: 100px;
  width: 30%;
  display: flex;
  margin-left: 40%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.value {
  width: 100%;
  display: flex;
}

.slider__prices {
  width: 100%;
}

.buble {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  background-color: #f9f1e7;
  color: #e89f71;
  border-radius: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 9px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 12px;
  cursor: pointer;
  border-radius: 2 px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border: 1px;
  background: #fff;
  border: 2px solid #e89f71;
  border-radius: 20px;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}
