@import url("https://fonts.googleapis.com/css?family=Raleway");

.form_container {
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form_header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form_title>h1 {
    font-size: 40px;
    font-family: Raleway;
}

.form_title>p {
    font-size: 18px;
    font-family: Raleway;
    font-weight: 100;
    margin-bottom: 25px;
}

.form_text_link{
    color: #E89F71
}

.form_text_link:hover{
    color: #cc865a
}

.form_body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_half_container {
    display: flex;
    flex-direction: row;
}

.form_half_input {
    width: 50%;
    border: #D9D9D9 1px solid;
    margin: 0px -1px;
    margin-bottom: 25px;
    padding: 20px;
    color: #000000 65%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

.form_full_input {
    width: 100%;
    border: #D9D9D9 1px solid;
    margin-bottom: 25px;
    padding: 20px;
    color: #000000 65%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}
.button_content {
    
}